# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log
logs/

# Dependency directories
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Misc
*.swp
*.swo
uploads/
